<div class="comment-list">
    <div class="media">
        {% if user_picture %}
            <div class="media-left"> {{ user_picture }} </div>
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading">{{ author }} <span class="small">on {{created}}</span> </h4>
            {{ content.comment_body }} 
            <div class="comment-links mt30"> {{ content.links }}</div>
        </div>
    </div>
</div>




