{% if page_layout == 'style_restaurant' or  page_layout == 'style_winery' %}
    {% if page.footer %}
        <footer class="footer-bg m-top0">
            <div class="container">
                <div class="row">
                    {{page.footer}}
                </div>
            </div>
        </footer>
    {% endif %}
    {% if copyright_text is not null or footer_network is not null%}
        <div class="copyrights">
            <div class="container">
                <div class="row text-center">

                    {% if footer_network is not null%}
                        <div class="col-md-12">
                            {{footer_network|t}}
                        </div>
                    {% endif %}
                    {% if copyright_text is not null%}
                        <div class="col-md-12 m-top4"> {{copyright_text|t}} </div>
                    {% endif%}
                </div>
            </div>
        </div>
    {% endif%}
{% else%}
    <footer class="footer-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 m-bottom3">
                    {{page.footer_column_1}}
                </div>
                <div class="col-md-3 col-sm-12 m-bottom3">
                    {{page.footer_column_2}}
                </div>
                <div class="col-md-3 col-sm-12 m-bottom3">
                    {{page.footer_column_3}}
                </div>
                <div class="col-md-3 col-sm-12 m-bottom3">
                    {{page.footer_column_4}}
                </div>
            </div>
        </div>
    </footer>
    {% if copyright_text is not null or footer_network is not null%}
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    {% if copyright_text is not null%}
                        <div class="col-md-6 m-top1 m-bottom1 font-white"> {{copyright_text|t}} </div>
                    {% endif %}
                    {% if footer_network is not null%}
                        <div class="col-md-6">
                            {{footer_network|t}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- end footer --> 
{% endif%}
<!-- site wrapper end --> 

<a href="#" class="scrollup"></a> 
<!-- end scroll to top of the page--> 