  {% set product_image = node.uc_product_image %}
    {% set oneimage = node.uc_product_image.0.entity.uri.value %}
    {% set alt_image = node.uc_product_image.0.alt%}

{% if not page %}
<div{{ attributes.addClass('col-md-3 col-sm-6 col-xs-12 m-bottom5') }}>
   
    <div class="menu-card">
        <div class="m-bottom2">{{img_uri_700_500|t}}</div>
        {{ title_prefix }}
        <div class="menu-items">
            <h3 class="font-bold font-black">{{node.getTitle}}</h3>            
            <span class="price">{{content.price}}</span>
            <div class="dotted-lines"></div>
        </div>
        {{ title_suffix }}
        <p class="m-top1">{{ node.body.summary|length > 292 ? node.body.summary|slice(0,292) ~ '...' : node.body.summary }}</p>
        <div class="button full-wid left m-top2">{{content.add_to_cart}}</div>
    </div>
</div>
 
{% else %}{# single #}
                <div class="col-md-6">
                       <div class="images-product">
                          {{content.uc_product_image}}
                       </div>
                   </div>


                   <div class="col-md-6">
                       <h1 class="product-title">{{title}}</h1>
                       <br/>
                       <div class="price">
                           <span class="font-color font-bold font16">{{content.price}}</span>
                            </div>
                   </div>
                          
            <div class="col-md-12 body-product">
                <!-- Accordion -->
                <div class="panel-group accordion-rn" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading" role="tab" id="headingOne">
                            
                        </div>
                        <div> 
                            <div class="panel-body">
                               {{content.body}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         
  
{% endif %}