{% if node.field_sidebar.0.value %}
    {% set sidebar = node.field_sidebar.0.value%}
{% else %}
    {% set sidebar = 'full' %}
{% endif %}
    
{% include theme_path ~ "/templates/header.html.twig" %}

{% if type!= 'page'%}
{% include theme_path ~ "/templates/page-title.html.twig" %}  

    {% if page.content %}
        <div  class="section-lg m-top8 m-bottom8">
            <div class="container">
               <div class="row">
                    {{ page.content }}
                </div>
            </div>
        </div>
    {% endif %} 
{% else %}
    {% if page.slider %}
        {{ page.slider }}
    {% else %}
{% include theme_path ~ "/templates/page-title.html.twig" %}                       
    {% endif %}
    
    {% if sidebar == 'left' %}
       
        <div class="section-lg m-top8">
            <div class="container">
                {% if page.sidebar %}
                <div class="col-md-3 col-xs-12">
                    {{page.sidebar}}
                </div>
                {% endif %}
                
                {% if page.content %}
                    <div class="col-md-9 col-xs-12">
                        {{page.content}}
                    </div>
                {% endif %}
            </div>
        </div>
        
    {% elseif sidebar == 'right' %}
         <div class="section-lg m-top8">
            <div class="container">
                {% if page.content %}
                    <div class="col-md-9 col-xs-12">
                        {{page.content}}
                    </div>
                {% endif %}
                
                {% if page.sidebar %}
                    <div class="col-md-3 col-xs-12">
                        {{page.sidebar}}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        {% if page.content %}
             {{ page.content }}
        {% endif %}
    {% endif%}
    
{% endif%}

{% if page.section %}
    {{ page.section }}
{% endif %}

{% include theme_path ~ "/templates/footer.html.twig" %}
