{% if blog_header_image !='' %}
     {% set style_bg_img = 'background-image: url('~blog_header_image~')' %}
{% else %}  
     {% set style_bg_img = '' %}
{% endif %}
             

    {% set sidebar = blog_sidebar %}

{% include theme_path ~ "/templates/header.html.twig" %}

<div class="page-header one" style="{{style_bg_img}}">
    <div class="container">
        <div class="col-md-6 left-padd0">
            <h3 class="font45 font-white uppercase">{{title}}</h3>
            {% if node.field_subtitle.0.value%}
                <h4 class="font18 font-white font-thin m-top1">{{ node.field_subtitle.0.value}}</h4>
            {% endif%}
        </div>
        {% if  page.breadcrumb %}
            <div class="col-md-6">
                <div class="breadcrumbs">{{ page.breadcrumb }}</div>
            </div>
        {% endif%}
    </div>
</div>    


    <div class="section-lg m-top8">
            <div class="container">
                <div class="row">
                {% if sidebar == 'right'%}
                    {% if page.content %}
                        <div class="col-md-9 left-padd0">
                               {{ page.content }}
                        </div>
                    {% endif %}

                    {% if page.sidebar %}
                        <div class="col-md-3 col-xs-12">
                               {{ page.sidebar}}
                        </div>
                    {% endif%}
                 {% elseif sidebar == 'left'%}
                      {% if page.sidebar %}
                        <div class="col-md-3 col-xs-12">
                                {{ page.sidebar}}
                         </div>
                    {% endif%}
                    
                    {% if page.content %}
                        <div class="col-md-9 left-padd0">
                                {{ page.content }}
                        </div>
                    {% endif %}

                   
                {% else %}
                   
                    {% if page.content %}
                         {{ page.content }}
                    {% endif %}
                {% endif %}
              </div>
            </div>
        </div>


{% if page.section %}
    {{ page.section }}
{% endif %}

{% include theme_path ~ "/templates/footer.html.twig" %}
