{% include theme_path ~ "/templates/header.html.twig" %}

{% if page.slider %}
    {{ page.slider }}
{% endif %}


{% if page.content %}
    {{ page.content }}
{% endif %}
{% if page.section %}
    {{ page.section }}
{% endif %}
{% if page_layout == 'style_restaurant' or  page_layout == 'style_winery'%}
    <footer class="footer-bg m-top0">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 m-bottom2">
                    <div class="call-to-action clearfix"><span class="fa fa-envelope-o font30 left"></span>
                        <div class="feature-icon-col font-white left-padd9 m-top1">
                            <h2 class="font20 font-white m-bottom1">Email</h2>
                            <p><a href="mailto:info@example.com">info@example.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 m-bottom2">
                    <div class="call-to-action clearfix"><span class="fa fa-phone font30 left"></span>
                        <div class="feature-icon-col font-white left-padd9 m-top1">
                            <h2 class="font20 font-white m-bottom1">Phone</h2>
                            <p>+1 123 4567 890</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 m-bottom2">
                    <div class="call-to-action clearfix"><span class="fa fa-map-marker font30 left"></span>
                        <div class="feature-icon-col font-white left-padd9 m-top1">
                            <h2 class="font-white font20 m-bottom1">Location</h2>
                            <p>Road #152, Chorley, NJ, USA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% if copyright_text is not null or footer_network is not null%}
        <div class="copyrights">
            <div class="container">
                <div class="row text-center">

                    {% if footer_network is not null%}
                        <div class="col-md-12">
                            {{footer_network|t}}
                        </div>
                    {% endif %}
                    {% if copyright_text is not null%}
                        <div class="col-md-12 m-top4"> {{copyright_text|t}} </div>
                    {% endif%}
                </div>
            </div>
        </div>
    {% endif%}
{% else%}

    {% if copyright_text is not null or footer_network is not null%}
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    {% if copyright_text is not null%}
                        <div class="col-md-6 m-top1 m-bottom1 font-white"> {{copyright_text|t}} </div>
                    {% endif %}
                    {% if footer_network is not null%}
                        <div class="col-md-6">
                            {{footer_network|t}}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    <!-- end footer --> 
{% endif%}
<!-- site wrapper end --> 

<a href="#" class="scrollup"></a> 
<!-- end scroll to top of the page--> 
