
{% if id == '_butte_section_content' %}

    <div class="container">
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

     {% if header %}     
        {{ header }}
     {% endif %}

        {{ exposed }}
        {{ attachment_before }}

        {% if rows %} 
                <div{{ attributes.addClass(classes) }}>
                    {% for row in rows %}
                        {{ row }}
                    {% endfor %}
                 </div>
        {% endif %}
        {% if footer %}
            {{ footer }}
        {% endif %}
        {{ attachment_after }}
        {{ more }}

        {{ feed_icons }}

    </div>
        

{% elseif id == '_butte_block_product' %}
  <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {{ title }}
        {{ title_suffix }}

     {% if header %}     
        {{ header }}
     {% endif %}

        {{ exposed }}
        {{ attachment_before }}

        {% if rows %} 
              
                    {% for row in rows %}
                        {{ row }}
                    {% endfor %}
                 
        {% endif %}
        {% if footer %}
            {{ footer }}
        {% endif %}
        {{ attachment_after }}
        {{ more }}

        {{ feed_icons }}

    </div>
                
{% else %}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
  {{ exposed }}

<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title }}
    {{ title_suffix }}
    
 {% if header %}     
    {{ header }}
 {% endif %}

    
    {{ attachment_before }}
  
    {% if rows %}  
        
        {% for row in rows %}
            {{ row }}
        {% endfor %}
    {% endif %}
    {% if footer %}
        {{ footer }}
    {% endif %}
    {% if pager %}
    <div>
        {{ pager }}
    </div>
    {% endif %}
    {{ attachment_after }}
    {{ more }}

    {{ feed_icons }}
</div>
{% endif %}